<div class="container mb-2">
  <h1 class="mt-2">{{algorithm?.title}}</h1>
  <app-section title="Descrição">
    <p>{{algorithm?.description}}</p>
  </app-section>
  <app-section title="Utilização">
    <p>{{algorithm?.utilization}}</p>
  </app-section>
  <app-section title="Demostração">
    <div class="video text-center" [innerHTML]="getVideo()" *ngIf="algorithm?.video; else noVideo"></div>
    <ng-template #noVideo>
      <p>Não há vídeo demonstrativo para está árvore.</p>
    </ng-template>
  </app-section>
</div>
